<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.google.code.appsorganizer" android:versionCode="79"
	android:versionName="1.0.2 beta 2">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="AppsOrganizerApplication" android:debuggable="true">
		<uses-library android:name="android.test.runner" />
		<activity android:name=".SplashScreenActivity" android:label="@string/app_name"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".LabelListActivity"
			android:launchMode="singleTask"></activity>
		<activity android:name=".FileImporter"></activity>
		<activity android:name=".chooseicon.ChooseIconActivity"></activity>

		<activity android:name=".shortcut.LabelShortcut"
			android:label="@string/Apps_organizer_label" android:theme="@android:style/Theme.Dialog"
			android:taskAffinity="com.google.code.appsorganizer.shortcuts">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.SAMPLE_CODE" />
			</intent-filter>

		</activity>

		<activity android:name=".shortcut.ShortcutCreator"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</activity>

		<receiver android:name="ApplicationChangeReceiver"
			android:enabled="true" android:exported="false" android:label="ApplicationChangeReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<data android:scheme="package"></data> 
			</intent-filter>
		</receiver>
		
        <activity android:name=".preferences.PreferencesFromXml" android:label="@string/Preferences"/>

        <activity android:name="BugReportActivity" android:label="@string/Bug_report"/>
		
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<instrumentation android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="com.google.code.appsorganizer"></instrumentation>
<!-- 
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
 -->		
</manifest> 