<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.google.code.appsorganizer" android:versionCode="200"
	android:versionName="1.6.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="AppsOrganizerApplication">
		<activity android:name=".SplashScreenActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".LabelListActivity"></activity>
		<activity android:name=".FileImporter"></activity>
		<activity android:name=".chooseicon.ChooseIconActivity"></activity>
		<activity android:name=".chooseicon.ChooseIconFromPackActivity"></activity>
		<activity android:name=".chooseicon.IconPackActivity"></activity>

		<activity android:name=".shortcut.LabelShortcut"
			android:label="@string/Apps_organizer_label" android:theme="@android:style/Theme.Dialog"
			android:taskAffinity="com.google.code.appsorganizer.shortcuts">
			<intent-filter>
				<action android:name="com.google.code.appsorganizer.ShortcutAction" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</activity>

		<activity android:name=".shortcut.ShortcutCreator"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</activity>

<!-- 
		<receiver android:name=".service.StartupListener"
			android:enabled="true" android:exported="false" android:label="StartupListener">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

        <activity android:name=".service.ServiceStarterActivity" android:label="Service started"/>
 -->

		<receiver android:name="ApplicationChangeReceiver"
			android:enabled="true" android:exported="false" android:label="ApplicationChangeReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<data android:scheme="package"></data> 
			</intent-filter>
		</receiver>
		
        <activity android:name=".preferences.PreferencesFromXml" android:label="@string/Preferences"/>

        <activity android:name="BugReportActivity" android:label="@string/Bug_report"/>

<!--
		<provider android:name=".MyBackupPro" android:authorities="com.google.code.appsorganizer.MyBackupPro"/>
-->


       <receiver android:name=".appwidget.AppsOrganizerAppWidgetProvider">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".appwidget.AppWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

       <receiver android:name=".MountReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" /> 
            </intent-filter>
        </receiver>
	</application>
	<uses-sdk android:minSdkVersion="3" />
<!-- 
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
 -->

	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

 	<supports-screens
          android:largeScreens="true"
          android:normalScreens="true"  
          android:smallScreens="true"
          android:anyDensity="true" />
</manifest> 